Types: deb
URIs: {{ virtualbox_repository_uri }}
Suites: {{ ansible_facts.distribution_release }}
Components: contrib
Signed-By: {{ repository_keys_path }}/{{ virtualbox_repository_key_name }}.gpg
Architectures: {{ cpu_architecture }}
