Types: deb
URIs: {{ hashicorp_repository_uri }}
Suites: {{ ansible_facts.distribution_release }}
Components: main
Signed-By: {{ repository_keys_path }}/{{ hashicorp_repository_key_name }}.gpg
Architectures: {{ cpu_architecture }}
